@{
    Layout = "~/Shared/Views/_Layout.cshtml";
}

<form id="formAutorizaMerma" class="form" action="@Url.Action("AutorizaMerma", "MciaPorCaducar")" method="get">
    <div id="Error" style="display:none;color:white;">
        <p class="groove">
            @TempData["lblResult"]
            <br />
            <input id="btnOk" type="button" class="btn btn-default btn-sm" style="width: 50%" onkeypress="myFuncionOK()" onclick="myFuncionOK()" value="OK" />
        </p>
    </div>
    @*Pantalla 1*@
    <div id="Principal" style="display:none">
        <table>
            <tr>
                <td colspan="2"><label>Jefe Dpto:</label></td>
            </tr>
            <tr>
                <td colspan="2">
                    @if (ViewData["cmb_JEFE"] != null)
                    {
                        @Html.DropDownList("cmb_JEFE", (SelectList)ViewData["cmb_JEFE"], new { @listplaceholder = "Seleccione", @onkeypress = "KeyPressedSubmit('cmb_JEFE')", @onchange = "KeyPressedSubmit('cmb_JEFE')", @style = "width: 200px;" })
                    }
                </td>
            </tr>
        </table>
        <p class="pFol">Para salir de la opción haz clic <label class="folNvo" onclick="funFolNvo('MenuInicio');">aqui.</label></p>
    </div>

    @*Pantalla 2*@
    <div id="CapArt" style="display:none">
        <table>
            <tr>
                <td><label>Jefe Dpto:</label></td>
                <td><label class="textCapitalize">@TempData["NomJefe"]</label></td>
            </tr>
            <tr>
                <td colspan="2"><label>Articulo:</label></td>
            </tr>
            <tr><td colspan="2"><input type="text" id="inArt" name="inArt" onkeyup="KeyPressedSubmit('inArt')" onkeypress="return soloNumeros(event)" class="inputCodigo" placeholder="12344553" aria-describedby="sizing-addon3"></td></tr>

        </table>

    </div>

    @*Pantalla 3*@
    <div id="ModCant" style="display:none">
        <table>
            <tr><td colspan="2"><label>El Articulo con el Número de Lote, ya fue Registrado con una Cant de @TempData["CantArt"] piezas.</label></td></tr>
            <tr>
                <td colspan="2"><label>Desea Modificar la Cantidad?</label></td>
            </tr>
            @*<tr>
                    <td><label>Opción</label></td>
                    <td><input type="text" id="op" name="op" maxlength="1" onfocus="posicion(this);" onkeyup="KeyPressedSubmit('op')" onkeypress="return soloOpciones(event)" placeholder="Selecciona una opción" aria-describedby="basic-addon1" /></td>
                </tr>
                <tr><td colspan="2"><label>1.-SI    2.-NO</label></td></tr>*@
        </table>
        <div class="panel panel-success">
            <div class="panel-heading">
                <label class="panel-title">1.-SI    2.-NO</label>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">
                        <label>Opción</label>
                        <input type="text" id="op" name="op" maxlength="1" onfocus="posicion(this);" onkeyup="KeyPressedSubmit('op')" onkeypress="return soloOpciones(event)" placeholder="Selecciona una opción" aria-describedby="basic-addon1" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Pantalla 4*@
    <div id="CapCantMerma" style="display:none">

        <table>
            <tr>
                <td><label>Jefe Dpto:</label></td>
                <td><label class="textCapitalize">@TempData["NomJefe"]</label></td>
            </tr>
            <tr>
                <td colspan="2"><label>Articulo:</label></td>
            </tr>
            <tr><td colspan="2"><label class="textCapitalize">@TempData["DesArt"]</label></td></tr>
            <tr>
                <td><label>Lote:</label></td>
                <td><label>@TempData["Lote"]</label></td>
            </tr>
            <tr>
                <td><label>Fec Cad:</label></td>
                <td><label>@TempData["Fecha"]</label></td>
            </tr>
            <tr>
                <td><label>Exist:</label></td>
                <td><label>@TempData["Existe"]</label></td>
            </tr>
            <tr><td colspan="2">Cantidad a Mermar:</td></tr>
            <tr><td colspan="2"><input type="text" id="inCan" name="inCan" onkeyup="KeyPressedSubmit('inCan')" onkeypress="return soloDecimal(event,this)" placeholder="12344553" aria-describedby="sizing-addon3"></td></tr>
        </table>

    </div>

    @*Pantalla 5*@
    <div id="GenActa" style="display:none">

        <table>
            <tr>
                <td colspan="2"><label>Se han Registrado Códigos para Merma</label></td>
            </tr>
            <tr>
                <td colspan="2"><label>Desea Generar el Acta de Destrucción?</label></td>
            </tr>
            @*<tr>
                    <td><label>Opción</label></td>
                    <td><input type="text" id="op2" name="op2" maxlength="1" onfocus="posicion(this);" onkeyup="KeyPressedSubmit('op2')" onkeypress="return soloOpciones(event)" placeholder="Selecciona una opción" aria-describedby="basic-addon1" /></td>
                </tr>
                <tr><td colspan="2"><label>1.-SI    2.-NO</label></td></tr>*@
        </table>
        <div class="panel panel-success">
            <div class="panel-heading">
                <label class="panel-title">1.-SI    2.-NO</label>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">
                        <label>Opción</label>
                        <input type="text" id="op2" name="op2" maxlength="1" onfocus="posicion(this);" onkeyup="KeyPressedSubmit('op2')" onkeypress="return soloOpciones(event)" placeholder="Selecciona una opción" aria-describedby="basic-addon1" />
                    </div>
                </div>
            </div>
        </div>

    </div>

    @*Pantalla 6*@
    <div id="FolGen" style="display:none">

        <table>
            <tr>
                <td colspan="2"><label>El Folio de Acta de Destrucción Asignado es el @TempData["NumActaDestruccion"] con Fecha @TempData["FechaSKU"]</label></td>
            </tr>

            @*<tr>
                    <td><label>Opción</label></td>
                    <td><input type="text" id="op3" name="op3" maxlength="1" onfocus="posicion(this);" onkeyup="KeyPressedSubmit('op3')" onkeypress="return soloOpcionUnica(event)" placeholder="Selecciona una opción" aria-describedby="basic-addon1" /></td>
                </tr>
                <tr><td colspan="2"><label>1.-CONTINUAR</label></td></tr>*@
        </table>
        <div class="panel panel-success">
            <div class="panel-heading">
                <label class="panel-title">1.-CONTINUAR</label>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">
                        <label>Opción</label>
                        <input type="text" id="op3" name="op3" maxlength="1" onfocus="posicion(this);" onkeyup="KeyPressedSubmit('op3')" onkeypress="return soloOpcionUnica(event)" placeholder="Selecciona una opción" aria-describedby="basic-addon1" />
                    </div>
                </div>
            </div>
        </div>
    </div>


    @*Pantalla 7*@
    <div id="NoGen" style="display:none">
        <table>
            <tr>
                <td colspan="2"><label>No se Generó Folio de Acta Destrucción</label></td>
            </tr>

            @*<tr>
                    <td><label>Opción</label></td>
                    <td><input type="text" id="op4" name="op4" maxlength="1" onfocus="posicion(this);" onkeyup="KeyPressedSubmit('op4')" onkeypress="return soloOpcionUnica(event)" placeholder="Selecciona una opción" aria-describedby="basic-addon1" /></td>
                </tr>
                <tr><td colspan="2"><label>1.-CONTINUAR</label></td></tr>*@
        </table>
        <div class="panel panel-success">
            <div class="panel-heading">
                <label class="panel-title">1.-CONTINUAR</label>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">
                        <label>Opción</label>
                        <input type="text" id="op4" name="op4" maxlength="1" onfocus="posicion(this);" onkeyup="KeyPressedSubmit('op4')" onkeypress="return soloOpcionUnica(event)" placeholder="Selecciona una opción" aria-describedby="basic-addon1" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a href="#" id="B" onclick="CheckFocus();return false;" style="text-decoration:none;color:#ffffff;"></a>

    <input type="hidden" id="FocusOn" name="FocusOn" value="@TempData["flagField"]" />
    <input id="flagOpcion" value="@TempData["flagOpcion"]" style="visibility:hidden" />
    <input id="flagError" value="@TempData["flagError"]" style="visibility:hidden" />
    <input id="flagEsc" type="text" name="flagEsc" style="visibility:hidden" />
</form>

<script>

    function funFolNvo(opcion) {
        switch (opcion) {
            case "MenuInicio":
                document.getElementById("flagEsc").value = "Esc";
                document.getElementById("formAutorizaMerma").submit();
                break;
        }
    }

    function KeyPressed(currentId, nextId) {
        if (IsOperaMobile) {
            //esc
            if (event.keyCode == 83 || event.keyCode == 115) {
                switch (currentId) {
                    default:

                        break;
                }
            }
                //enter
            else {
                if (document.getElementById(currentId).value != "") {
                    switch (currentId) {

                        default:
                            document.getElementById(nextId).focus();
                            break;
                    }
                }
                else {
                    document.getElementById(currentId).focus();
                }
            }

        }
            //OTRO NAVEGADOR
        else {
            if (event.keyCode == 13) {
                if (document.getElementById(currentId).value != "") {
                    switch (currentId) {

                        default:
                            document.getElementById(nextId).focus();
                            break;
                    }
                }
                else {
                    document.getElementById(currentId).focus();
                }
            }
            else if (event.keyCode == 27) {
                switch (currentId) {

                    default:

                        break;
                }
            }
        }
    }

    function KeyPressedSubmit(currentId) {
        if (IsOperaMobile) {
            //esc
            if (event.keyCode == 83 || event.keyCode == 115) {
                switch (currentId) {

                    case "inArt":
                        //Pantalla 1
                        var link = document.createElement('a');
                        var url = '@Url.Action("AutorizaMerma", "MciaPorCaducar")';
                        link.href = url;
                        document.body.appendChild(link);
                        link.click();
                        break;
                    case "inCan":
                        var elem = document.getElementById("CapCantMerma");
                        elem.style.display = (false ? "block" : "none");
                        var elem = document.getElementById("CapArt");
                        elem.style.display = (true ? "block" : "none");

                        document.getElementById(currentId).value = "";
                        document.getElementById("inArt").focus();
                        break;
                    default:

                        break;
                }
            }
            else {
                if (document.getElementById(currentId).value != "") {
                    switch (currentId) {
                        case "cmb_JEFE":
                            if (document.getElementById(currentId).value == "Salir") {
                                document.getElementById("flagEsc").value = "Esc";
                                document.getElementById("formAutorizaMerma").submit();
                            }
                            else {
                                document.getElementById("formAutorizaMerma").submit();
                            }
                            break;
                        case "op":
                            var op = document.getElementById(currentId).value;
                            switch (op) {
                                case "1":
                                    var elem = document.getElementById("ModCant");
                                    elem.style.display = (false ? "block" : "none");
                                    var elem = document.getElementById("CapCantMerma");
                                    elem.style.display = (true ? "block" : "none");

                                    document.getElementById(currentId).value = "";
                                    document.getElementById("inCan").focus();
                                    break;
                                case "2":
                                    var elem = document.getElementById("ModCant");
                                    elem.style.display = (false ? "block" : "none");
                                    var elem = document.getElementById("CapArt");
                                    elem.style.display = (true ? "block" : "none");

                                    document.getElementById(currentId).value = "";
                                    document.getElementById("inArt").focus();
                                    break;
                                default:
                                    document.getElementById(currentId).focus();
                                    break;
                            }
                            break;
                        case "op2":
                            var op = document.getElementById(currentId).value;
                            switch (op) {
                                case "1":
                                    document.getElementById("formAutorizaMerma").submit();
                                    break;
                                case "2":
                                    var link = document.createElement('a');
                                    var url = '@Url.Action("AutorizaMerma", "MciaPorCaducar")';
                                    link.href = url;
                                    document.body.appendChild(link);
                                    link.click();
                                    break;
                                default:
                                    document.getElementById(currentId).focus();
                                    break;
                            }
                            break;

                        case "op3":
                            var op = document.getElementById(currentId).value;
                            switch (op) {
                                case "1":
                                    var link = document.createElement('a');
                                    var url = '@Url.Action("Inicio", "Menu")';
                                    link.href = url;
                                    document.body.appendChild(link);
                                    link.click();
                                    break;
                                default:
                                    document.getElementById(currentId).focus();
                                    break;
                            }
                            break;
                        case "op4":
                            var op = document.getElementById("op4").value;
                            switch (op) {
                                case "1":
                                    var link = document.createElement('a');
                                    var url = '@Url.Action("Inicio", "Menu")';
                                    link.href = url;
                                    document.body.appendChild(link);
                                    link.click();
                                    break;
                                default:
                                    document.getElementById(currentId).focus();
                                    break;
                            }
                            break;
                        default:
                            document.getElementById("formAutorizaMerma").submit();
                            break;
                    }
                }
                else {
                    document.getElementById(currentId).focus();
                }
            }

        }
            //OTRO NAVEGADOR
        else {
            if (event.keyCode == 13) {
                if (document.getElementById(currentId).value != "") {
                    switch (currentId) {
                        case "cmb_JEFE":
                            if (document.getElementById(currentId).value == "Salir") {
                                document.getElementById("flagEsc").value = "Esc";
                                document.getElementById("formAutorizaMerma").submit();
                            }
                            else {
                                document.getElementById("formAutorizaMerma").submit();
                            }
                            break;
                        case "op":
                            var op = document.getElementById(currentId).value;
                            switch (op) {
                                case "1":
                                    var elem = document.getElementById("ModCant");
                                    elem.style.display = (false ? "block" : "none");
                                    var elem = document.getElementById("CapCantMerma");
                                    elem.style.display = (true ? "block" : "none");

                                    document.getElementById(currentId).value = "";
                                    document.getElementById("inCan").focus();
                                    break;
                                case "2":
                                    var elem = document.getElementById("ModCant");
                                    elem.style.display = (false ? "block" : "none");
                                    var elem = document.getElementById("CapArt");
                                    elem.style.display = (true ? "block" : "none");

                                    document.getElementById(currentId).value = "";
                                    document.getElementById("inArt").focus();
                                    break;
                                default:
                                    document.getElementById(currentId).focus();
                                    break;
                            }
                            break;
                        case "op2":
                            var op = document.getElementById(currentId).value;
                            switch (op) {
                                case "1":
                                    document.getElementById("formAutorizaMerma").submit();
                                    break;
                                case "2":
                                    var link = document.createElement('a');
                                    var url = '@Url.Action("AutorizaMerma", "MciaPorCaducar")';
                                    link.href = url;
                                    document.body.appendChild(link);
                                    link.click();
                                    break;
                                default:
                                    document.getElementById(currentId).focus();
                                    break;
                            }
                            break;

                        case "op3":
                            var op = document.getElementById(currentId).value;
                            switch (op) {
                                case "1":
                                    var link = document.createElement('a');
                                    var url = '@Url.Action("Inicio", "Menu")';
                                    link.href = url;
                                    document.body.appendChild(link);
                                    link.click();
                                    break;
                                default:
                                    document.getElementById(currentId).focus();
                                    break;
                            }
                            break;
                        case "op4":
                            var op = document.getElementById("op4").value;
                            switch (op) {
                                case "1":
                                    var link = document.createElement('a');
                                    var url = '@Url.Action("Inicio", "Menu")';
                                    link.href = url;
                                    document.body.appendChild(link);
                                    link.click();
                                    break;
                                default:
                                    document.getElementById(currentId).focus();
                                    break;
                            }
                            break;
                        default:
                            document.getElementById("formAutorizaMerma").submit();
                            break;
                    }
                }
                else {
                    document.getElementById(currentId).focus();
                }
            }
            else if (event.keyCode == 27) {
                switch (currentId) {
                    case "cmb_JEFE":

                        document.getElementById("flagEsc").value = "Esc";
                        document.getElementById("formAutorizaMerma").submit();

                        break;
                    case "inArt":
                        //Pantalla 1
                        var link = document.createElement('a');
                        var url = '@Url.Action("AutorizaMerma", "MciaPorCaducar")';
                        link.href = url;
                        document.body.appendChild(link);
                        link.click();
                        break;
                    case "inCan":
                        var elem = document.getElementById("CapCantMerma");
                        elem.style.display = (false ? "block" : "none");
                        var elem = document.getElementById("CapArt");
                        elem.style.display = (true ? "block" : "none");

                        document.getElementById(currentId).value = "";
                        document.getElementById("inArt").focus();
                        break;
                    default:

                        break;
                }
            }
        }
    }

    function funReady() {

        var form = document.getElementById("flagOpcion").value;
        if (form != "") {
            var ele = document.getElementById(form);
            if (ele.style.display == "block") {
                ele.style.display = "none";
            }
            else {
                ele.style.display = "block";
            }
        }

        switch (form) {
            //case "Principal":
            //    document.getElementById("cmb_JEFE").focus();
            //    break;
            //case "CapArt":
            //    document.getElementById("inArt").focus();
            //    break;
            //case "ModCant":
            //    document.getElementById("op").focus();
            //    break;
            //case "CapCantMerma":
            //    document.getElementById("inCan").focus();
            //    break;
            //case "GenActa":
            //    document.getElementById("op2").focus();
            //    break;
            case "FolGen":
                if (!IsOperaMobile) {
                    document.getElementById("op3").value = 1;
                    document.getElementById("op3").focus();
                }
                SetFocus();
                break;
            case "NoGen":
                if (!IsOperaMobile) {
                    document.getElementById("op4").value = 1;
                    document.getElementById("op4").focus();
                }
                SetFocus();
                break;
            default:
                SetFocus();
                //document.getElementById("cmb_JEFE").focus();
                break;
        }


        abrirError("flagOpcion");

        for (i = 0; i < 11; i++) {
            if (i == 10) {
                document.getElementById("FocusOn").focus();
            }
        }
    }

    function func_onkeypress(e, inputName) {
        var keyCode = e.keyCode ? e.keyCode : e.which;
        switch (keyCode) {
            //enter
            case 13:
                switch (inputName) {
                    case "cmb_JEFE":
                        document.getElementById("formAutorizaMerma").submit();
                        break;
                    case "inArt":
                        if (document.getElementById("inArt").value != "") {
                            document.getElementById("formAutorizaMerma").submit();
                        }
                        else {
                            document.getElementById("inArt").focus();
                        }
                        break;
                    case "op":
                        var op = document.getElementById("op").value;
                        switch (op) {
                            case "1":
                                var elem = document.getElementById("ModCant");
                                elem.style.display = (false ? "block" : "none");
                                var elem = document.getElementById("CapCantMerma");
                                elem.style.display = (true ? "block" : "none");

                                document.getElementById("inCan").focus();
                                break;
                            case "2":
                                var elem = document.getElementById("ModCant");
                                elem.style.display = (false ? "block" : "none");
                                var elem = document.getElementById("CapArt");
                                elem.style.display = (true ? "block" : "none");

                                document.getElementById("inArt").focus();
                                break;
                            default:
                                document.getElementById("op").focus();
                                break;
                        }
                        break;
                    case "inCan":
                        if (document.getElementById("inCan").value != "") {
                            document.getElementById("formAutorizaMerma").submit();
                        }
                        else {
                            document.getElementById("inCan").focus();
                        }
                        break;
                    case "op2":
                        var op = document.getElementById("op2").value;
                        switch (op) {
                            case "1":
                                document.getElementById("formAutorizaMerma").submit();
                                break;
                            case "2":
                                var link = document.createElement('a');
                                var url = '@Url.Action("AutorizaMerma", "MciaPorCaducar")';
                                link.href = url;
                                document.body.appendChild(link);
                                link.click();
                                break;
                            default:
                                document.getElementById("op2").focus();
                                break;
                        }
                        break;

                    case "op3":
                        var op = document.getElementById("op3").value;
                        switch (op) {
                            case "1":
                                var link = document.createElement('a');
                                var url = '@Url.Action("Inicio", "Menu")';
                                link.href = url;
                                document.body.appendChild(link);
                                link.click();
                                break;
                            default:
                                document.getElementById("op3").focus();
                                break;
                        }
                        break;
                    case "op4":
                        var op = document.getElementById("op4").value;
                        switch (op) {
                            case "1":
                                var link = document.createElement('a');
                                var url = '@Url.Action("Inicio", "Menu")';
                                link.href = url;
                                document.body.appendChild(link);
                                link.click();
                                break;
                            default:
                                document.getElementById("op4").focus();
                                break;
                        }
                        break;
                    default:
                        document.getElementById("op").focus();
                        break;
                }

                break;
                //esc
            case 27:
                switch (inputName) {
                    case "cmb_JEFE":
                        document.getElementById("flagEsc").value = "Esc";
                        document.getElementById("formAutorizaMerma").submit();
                        break;
                    case "inArt":
                        //Pantalla 1
                        var link = document.createElement('a');
                        var url = '@Url.Action("AutorizaMerma", "MciaPorCaducar")';
                        link.href = url;
                        document.body.appendChild(link);
                        link.click();
                        break;
                    case "op":

                        break;
                    case "inCan":
                        var elem = document.getElementById("CapCantMerma");
                        elem.style.display = (false ? "block" : "none");
                        var elem = document.getElementById("CapArt");
                        elem.style.display = (true ? "block" : "none");

                        document.getElementById("inArt").focus();
                        break;
                    case "op2":

                        break;
                    case "op3":

                        break;
                    case "op4":

                        break;
                    default:
                        document.getElementById("op").focus();
                        break;
                }

                break;
        }
    }
</script>